In [19]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('transactions.csv')

In [3]:
df.head()

                                         Description  Amount Category
0               THE PEDALER BIKE SHOP EL SOBRANTE CA  -65.10     Shit
1                BETTE'S OCEANVIEW DINER BERKELEY CA  -30.35     Food
2  PURCHASE AUTHORIZED ON 08/01 CA DMV EL CERRITO...  -27.00      Car
3                                ORCHARD SUPPLY #350  -23.67     Shit
4  PURCHASE AUTHORIZED ON 08/01 CA DMV EL CERRITO...  -15.00      Car

In [4]:
df.Category.value_counts()

Food             225
Shit              62
Car               47
Health            35
Travel            24
Entertainment     20
School             8
Cash               5
Rent               5
Name: Category, dtype: int64

In [16]:
df_unlabelled = df[df['Category'].isnull()]

In [17]:
df_labelled = df[df['Category'].notnull()]

In [20]:
count_vect = CountVectorizer()

In [22]:
count_vect.fit_transform(df['Description'])

<673x812 sparse matrix of type '<class 'numpy.int64'>'
	with 2491 stored elements in Compressed Sparse Row format>